.row
  .small-12.columns
    %h1.text-center December 2028
    %table{width: '100%'}
      %thead
        %tr
          %th{width: '14.2%'} Sunday
          %th{width: '14.2%'} Monday
          %th{width: '14.2%'} Tuesday
          %th{width: '14.2%'} Wednesday
          %th{width: '14.2%'} Thursday
          %th{width: '14.2%'} Friday
          %th{width: '14.2%'} Saturday
      %tbody
        %tr
          %td.text-right
            %h4 30&nbsp;
            -if @advents.find_by(date: 30).nil?
              -if user_signed_in?
                %h1.text-center
                  %i.fi-x
              -else
                %h1.text-center
                  &nbsp;
            -else
              =link_to image_tag(@advents.find_by(date: 30).image.url, class: 'th'), advent_path(@advents.find_by(date: 30))
          -(1..6).each do |n|
            %td.text-right
              %h4
                =n
                &nbsp;
              -if @advents.find_by(date: n).nil?
                -if user_signed_in?
                  %h1.text-center
                    %i.fi-x
                -else
                  %h1.text-center
                    &nbsp;
              -elsif n > @today
                -if user_signed_in?
                  %h1.text-center
                    =link_to advent_path(@advents.find_by(date: n)) do
                      %i.fi-lock
                -else
                  %h1.text-center
                    %i.fi-lock
              -else
                =link_to image_tag(@advents.find_by(date: n).image.url, class: 'th'), '#', "data-reveal-id" => "modal#{n}"
        %tr
          -(7..13).each do |n|
            %td.text-right
              %h4
                =n
                &nbsp;
              -if @advents.find_by(date: n).nil?
                -if user_signed_in?
                  %h1.text-center
                    %i.fi-x
                -else
                  %h1.text-center
                    &nbsp;
              -elsif n > @today
                -if user_signed_in?
                  %h1.text-center
                    =link_to advent_path(@advents.find_by(date: n)) do
                      %i.fi-lock
                -else
                  %h1.text-center
                    %i.fi-lock
              -else
                =link_to image_tag(@advents.find_by(date: n).image.url, class: 'th'), '#', "data-reveal-id" => "modal#{n}"
        %tr
          -(14..20).each do |n|
            %td.text-right
              %h4
                =n
                &nbsp;
              -if @advents.find_by(date: n).nil?
                -if user_signed_in?
                  %h1.text-center
                    %i.fi-x
                -else
                  %h1.text-center
                    &nbsp;
              -elsif n > @today
                -if user_signed_in?
                  %h1.text-center
                    =link_to advent_path(@advents.find_by(date: n)) do
                      %i.fi-lock
                -else
                  %h1.text-center
                    %i.fi-lock
              -else
                =link_to image_tag(@advents.find_by(date: n).image.url, class: 'th'), '#', "data-reveal-id" => "modal#{n}"
        %tr
          -(21..25).each do |n|
            %td.text-right
              %h4
                =n
                &nbsp;
              -if @advents.find_by(date: n).nil?
                -if user_signed_in?
                  %h1.text-center
                    %i.fi-x
                -else
                  %h1.text-center
                    &nbsp;
              -elsif n > @today
                -if user_signed_in?
                  %h1.text-center
                    =link_to advent_path(@advents.find_by(date: n)) do
                      %i.fi-lock
                -else
                  %h1.text-center
                    %i.fi-lock
              -else
                =link_to image_tag(@advents.find_by(date: n).image.url, class: 'th'), '#', "data-reveal-id" => "modal#{n}"
-@advents.each do |advent|
  .reveal-modal{id: "modal#{advent.date}","data-reveal" => ""}
    %h1= advent.title
    =image_tag(advent.image.url)
    %div
      =raw RedCloth.new(advent.description).to_html
    %h4.text-right
      =link_to advent_path(advent) do
        %i.fi-link
        permalink
    %a.close-reveal-modal &#215;
